Dear $fname$ $fname$,

We are glad to inform you that an amount of $TransactionAmt$ has been deposited in your account number $AccountNumber$
on $TransactionDate$ and current balance is $Balance$

Thank you for banking with us.

Regards
John Doe
Relationship Manager



