Cher $ fname $ $ $ fname ,

Nous sommes heureux de vous informer qu'un montant de $ TransactionAmt $ a été déposé dans votre compte nombre $ AccountNumber $
sur TransactionDate $ $ et le solde actuel est $ Solde $

Merci pour les services bancaires avec nous .

Cordialement
John Doe
Gestionnaire de relation